{% extends "base.html" %}
{% block title %}DESOLE'{% endblock %}
{% block content %}
Job helps me keep some of my pride and self-respect by reaffirming that I can pay for my own expense. With a job, I earn money to feed my poor hungry belly and dream for a better life in distant future. It's becoming more common to see people with lesser experience earn more than I do, this has started to degrade me from the inside and I am loosing sleep. I need to earn some confidence to look my own face in mirror and I think a better salary might just give me that kinda confidence. But then... when will I be able to find a better job :(
{% endblock %}

<!-- <!Doctype html>
<html>
	<head><title>The TITLE</title><h1>RANDOM ADJECTIVE</h1></head>
	<body><h1>Some content</h1><h2>I should get a JOB...</h2></body>
</html> -->